<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>Process Action</title>
	<link rel="stylesheet" href="/style.css">
</head>

<body>
	<div id = "container">
      <h1>Stock Management</h1>
	  <p><%- name %> (<%- email %>) <%- choice %> <%- shares %> shares of <%- ticker %> at <%- price %>.</p>
	</div>
</body>